/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/
/*------------------------------------------Grid----*/
/*------------------------------------------Flex----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/
/*------------------------------------------Body----*/
.grid-index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 60px calc(100vh - 60px) auto;
      grid-template-rows: 60px calc(100vh - 60px) auto;
      grid-template-areas: "navbar" "hero" "intro" "menu";
}

/*-----------------------------------------Inner----*/
.inner {
  max-width: 1200px;
  margin: 0 2rem;
}

.inner-md {
  max-width: 800px;
  margin: 10rem 2rem;
}

/*----------------------------------------Navbar----*/
.navbar {
  -ms-grid-column: 1;
  grid-column: 1fr;
  grid-row: 60px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem 2rem;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100vh;
  width: 300px;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.nav-item, .nav-link {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.nav-item:last-of-type, .nav-link:last-of-type {
  padding: 0;
}

.navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 2rem;
}

.navbar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-icons li {
  margin-left: 1rem;
}

/*------------------------------------------Hero----*/
.hero {
  -ms-grid-column: 1;
  grid-column: 1fr;
  grid-row: calc(100vh - 60px);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*-----------------------------------------Intro----*/
.intro {
  -ms-grid-column: 1;
  grid-column: 1fr;
  grid-row: auto;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: intro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.intro__text p {
  padding: 0 2rem;
}

.intro__text p:last-of-type {
  text-align: left;
}

/*-----------------------------------------Menu----*/
.menu {
  -ms-grid-column: 1;
  grid-column: 1fr;
  grid-row: auto;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 500px;
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/
/*---------------------------------------Buttons----*/
/*------------------------------Button----*/
.btn, .btn-clear {
  display: inline-block;
  border-radius: 3rem;
  border: 2px solid #ff659d;
  padding: 1rem;
  background: #ff659d;
  color: #1A1A1C;
}

.btn a, .btn-clear a {
  color: #ffffff;
}

.btn:hover, .btn-clear:hover {
  background: #ff327d;
  color: #1A1A1C;
}

.btn-clear {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-clear:hover {
  border: 2px solid #7FD1B9;
  background: #7FD1B9;
  color: #1A1A1C;
}

/*-----------------------Burger Button----*/
.burger-btn {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  margin: 0;
  cursor: pointer;
  position: fixed;
  top: 24px;
  left: 41px;
  z-index: 97;
}

.burger-btn-label {
  display: block;
  height: 23px;
  width: 23px;
  cursor: pointer;
  position: fixed;
  top: 17px;
  left: 34px;
  z-index: 100;
  border-radius: 3rem;
  background: #ffffff;
}

.burger-btn-label:hover {
  background: #7FD1B9;
}

.bar, .bar-top, .bar-middle, .bar-bottom {
  display: block;
  position: absolute;
  top: 4.5px;
  left: 4.5px;
  width: 14px;
  height: 2.1px;
  background: #1A1A1C;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bar-middle {
  top: 10.5px;
}

.bar-bottom {
  top: 16px;
}

.burger-btn:checked ~ .burger-btn-label {
  background: #7FD1B9;
}

.burger-btn:checked + .burger-btn-label .bar-top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 10.5px;
  left: 2.5px;
  width: 18px;
}

.burger-btn:checked + .burger-btn-label .bar-middle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10.5px;
  left: 2.5px;
  width: 18px;
}

.burger-btn:checked + .burger-btn-label .bar-bottom {
  opacity: 0;
}

.burger-btn:checked + .burger-btn-label ~ .navbar-nav {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

/*-----------------------------------------Links----*/
a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #1A1A1C;
}

a:hover {
  color: #ff659d;
}

/*-----------------------------------------Icons----*/
.nav-icon {
  width: 23px;
  height: 23px;
}

.nav-icon:hover {
  -webkit-filter: invert(0.5) sepia(1) saturate(8) hue-rotate(302deg);
          filter: invert(0.5) sepia(1) saturate(8) hue-rotate(302deg);
}

/*-------------------------------------------HR----*/
hr {
  height: 5px;
  margin: 2rem 0;
  border: none;
  background: #ff659d;
  color: #ff659d;
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/
/*----------------------------------------Height----*/
/*-----------------------------------------Width----*/
@media (max-width: 575px) {
  .inner {
    margin: 0 1rem;
  }
  .inner-md {
    margin: 10rem 1rem;
  }
  .intro__text {
    display: block;
    text-align: justify;
  }
  .intro__text p {
    padding: 0;
  }
  .intro__text p:last-of-type {
    text-align: justify;
  }
}

/*-----------------------------------------Print----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/
/*-------------------------------------Universal----*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------------------------------------------HTML----*/
/*------------------------------------------Body----*/
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #1A1A1C;
  background-color: #ffffff;
}

/*--------------------------------------Headings----*/
h1, h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

.sub-header {
  font-family: 'Great Vibes', cursive;
  font-size: 15rem;
}

.header-pink {
  color: #ff659d;
}

/*------------------------------------Paragraphs----*/
p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.signature {
  margin: 3rem;
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: bold;
}

/*------------------------------------Navigation----*/
nav {
  background: #1A1A1C;
}

.navbar-nav {
  background: #ffffff;
}

/*------------------------------------------Hero----*/
.hero {
  -webkit-box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
          box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
  background: #1A1A1C;
  color: #ffffff;
}

/*------------------------------------------Menu----*/
.menu {
  -webkit-box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
          box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
  background: #7FD1B9;
}
/*# sourceMappingURL=styles.css.map */