/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Page Bodies
2. Inners
3. Navigation
4. Home Page
  4.1. Home Hero
  4.2. Intro
  4.3. Home Menu
  4.4. Booking Banner
  4.5. Features
  4.6. Gallery
  4.7. Thanks
5. Menu Page
  5.1. Menu Hero
  5.2. Menu
6. Contact Page
  6.1. Contact Hero
  6.2. Contact Form
  6.3. Contact Info
7. About Page
  7.1. About Hero
  7.2. About
  7.3. About Team
  7.4. About Video
8. Booking Page
  8.1. Booking Hero
  8.2. Booking Form
9. Loyalty Card Page
  9.1. Loyalty Card Hero
  9.2. Loyalty Card Banner
10. Footer
  10.1. Footer Top
  10.2. Footer Bottom
11. Error 404 Page

*/

/*--------------------------------1. Page Bodies----*/
.grid-index {
  @include grid-template(1fr, 60px calc(100vh - 60px) auto);
}

.grid-menu {
  @include grid-template(1fr, 60px 400px auto);
}

.grid-contact {
  @include grid-template(1fr, 60px 400px auto);
}

.grid-about {
  @include grid-template(1fr, 60px 400px auto);
}

.grid-booking {
  @include grid-template(1fr, 60px 400px auto);
}

.grid-loyalty {
  @include grid-template(1fr, 60px 400px auto);
}

/*-------------------------------------2. Inners----*/
.inner-lg {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-md {
  max-width: 800px;
  margin: 0 auto;
}

/*---------------------------------3. Navigation----*/
.navbar {
  @include grid-cols-rows(1fr, 60px);
  @include flex-layout(row, flex-end, center);
  position: relative;
  padding: 1rem 2rem;
}

.navbar-nav {
  @include flex-layout(column, center, center);
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100vh;
  width: 300px;
  z-index: 99;
  transition: transform 0.5s ease-in-out;
}

.nav-item {
  margin-bottom: 1rem;
  padding: 0.5rem;

  &:last-of-type {
    margin-bottom: 0;
    padding: 0;
  }
}

.nav-link {
  @extend .nav-item;
}

.navbar-buttons {
  margin: 1rem 2rem;
}

.navbar-icons {
  display: flex;

  & li {
    margin-left: 1rem;
  }
}

/*----------------------------------4. Home Page----*/

/*----------------------4.1. Home Hero----*/
.home-hero {
  @include grid-cols-rows(1fr, calc(100vh - 60px));
  @include flex-layout(column, center, center);
  text-align: center;
  padding: 6rem 2rem;

  & p {
    margin-bottom: 2rem;
  }
}

/*--------------------------4.2. Intro----*/
.intro {
  @include grid-cols-rows(1fr, auto);
  text-align: center;
  padding: 6rem 2rem;
}

.intro__text {
  display: flex;
  text-align: right;

  & p {
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }

  & p:last-of-type {
    text-align: left;
  }
}

/*----------------------4.3. Home Menu----*/
.home-menu {
  @include grid-cols-rows(1fr, auto);
  text-align: center;
  padding: 6rem 2rem;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/*-----------------4.4. Booking Banner----*/
.booking-banner {
  @include grid-cols-rows(1fr, auto);
  text-align: center;
  padding: 6rem 0;
  transition: all 0.5s;

  & h2 {
    margin-top: 1rem;
  }
}

/*-----------------------4.5. Features----*/
.features {
  @include grid-cols-rows(1fr, auto);
  text-align: center;
  padding: 6rem 2rem;
}

.features__top {
  @include grid-template(repeat(3, 1fr), auto);
  grid-gap: 0 1rem;
  margin-bottom: 4rem;
}

.features__top__left {
  grid-column: 1 / 2;
}

.features__top__right {
  grid-column: 2 / 4;
}

.features__middle {
  @extend .features__top;
  justify-content: flex-start;
}

.features__middle__left {
  grid-column: 1 / 3;
}

.features__middle__right {
  grid-column: 3 / 4;
}

.features__bottom {
  @extend .features__top;
  margin-bottom: 0;
}

.features__bottom__left {
  @extend .features__top__left;
}

.features__bottom__right {
  @extend .features__top__right;
}

.features-img {
  width: 100%;
  height: 100%;
}

/*------------------------4.6. Gallery----*/
.gallery {
  @include grid-cols-rows(1fr, auto);
}

.gallery__grid {
  @include grid-template(repeat(5, 1fr), auto);
  grid-gap: 10px;
  margin: 0 10px;
}

.gallery__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &:hover .gallery-img {
    filter: grayscale(100%);
  }

  &:hover .gallery-zoom {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover .gallery-caption {
    transform: translateX(-100%);
  }
}

.gallery__item::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.5s;
}

.gallery-zoom {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.5s;
  border-radius: 5rem;
  opacity: 0;
  z-index: 1;
}

.gallery-caption {
  @include flex-layout(column, center, center);
  position: absolute;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: center;
  transition: 0.5s;
}

/*-------------------------4.7. Thanks----*/
.thanks {
  @include grid-cols-rows(1fr, auto);
  padding: 6rem 2rem;
}

.thanks__info {
  @include flex-layout(row, center, center);
}

.thanks__img {
  width: 50%;
}

.thanks__text {
  width: 50%;
  text-align: left;
  padding-left: 2rem;
}

/*----------------------------------5. Menu Page----*/

/*----------------------5.1. Menu Hero----*/
.menu-hero {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
}

/*---------------------------5.2. Menu----*/
.menu {
  @include grid-cols-rows(1fr, auto);
  text-align: center;
  padding: 6rem 2rem;
}

/*-------------------------------6. Contact Page----*/

/*-------------------6.1. Contact Hero----*/
.contact-hero {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
}

/*-------------------6.2. Contact Form----*/
.contact {
  @include grid-cols-rows(1fr, auto);
  padding: 6rem 2rem;
  text-align: center;
}

/*-------------------6.3. Contact Info----*/
.contact-info {
  @include grid-cols-rows(1fr, auto);
  margin: 0 2rem 6rem 2rem;
}

.contact-info__grid {
  @include grid-template(repeat(12, 1fr), 550px);
  grid-gap: 2rem;
}

.contact-info__location {
  @include grid-cols-rows(span 8, 550px);
  display: flex;
}

.contact-address {
  width: 50%;
  @include flex-layout(column, center, center);
  text-align: center;
  padding: 0 3rem;
}

.contact-map {
  width: 50%;
  height: 100%;
}

.contact-info__hours {
  @include grid-cols-rows(span 4, 550px);
  @include flex-layout(column, center, center);
  padding: 3rem 1rem;
}

/*---------------------------------7. About Page----*/

/*---------------------7.1. About Hero----*/
.about-hero {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
}

/*--------------------------7.2. About----*/
.about {
  @include grid-cols-rows(1fr, auto);
  padding: 6rem 2rem;
  text-align: center;
}

/*---------------------7.3. About Team----*/
.about-team {
  @include grid-cols-rows(1fr, auto);
  padding: 6rem 0;
}

.team__header {
  text-align: center;
}

.owner-section {
  display: flex;
}

.team__grid__one {
  @include grid-template(repeat(2, 1fr), auto);
  margin-bottom: 2rem;
}

.team__grid__two {
  @include grid-template(repeat(4, 1fr), auto);
}

/*--------------------7.4. About Video----*/
.about-video {
  @include grid-cols-rows(1fr, auto);
  margin: 0 2rem 6rem 2rem;
  text-align: center;
}

/*-------------------------------8. Booking Page----*/

/*--------------------8.1 Booking Hero----*/
.booking-hero {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
}

/*--------------------8.2 Booking Form----*/
.booking {
  @include grid-cols-rows(1fr, auto);
  margin: 6rem 2rem;
}

.booking-form {
  padding: 6rem 4rem;
  transform: translateY(-200px);
}

/*--------------------------9. Loyalty Card Page----*/

/*--------------9.1. Loyalty Card Hero----*/
.loyalty-hero {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
}

/*------------9.2. Loyalty Card Banner----*/
.loyalty-banner {
  @include grid-cols-rows(1fr, auto);
}

/*------------------------------------10. Footer----*/
footer {
  @include grid-cols-rows(1fr, auto);
}

/*--------------------10.1. Footer Top----*/
.footer__grid {
  @include grid-template(repeat(4, 1fr), auto);
  grid-gap: 0 2rem;
  padding: 6rem 2rem;
}

.footer__grid__col1 {
  @include grid-cols-rows(1 / 2, auto);
}

.footer__grid__col2 {
  @include grid-cols-rows(2 / 3, auto);
}

.footer__grid__col3 {
  @include grid-cols-rows(3 / 4, auto);
}

.footer__grid__col4 {
  @include grid-cols-rows(4 / 5, auto);
}

.footer-icons {
  display: flex;
  margin-top: 2rem;

  & a {
    margin-right: 1rem;
  }
}

.twitter-container {
  margin-bottom: 2rem;
}

.instagram__grid {
  @include grid-template(repeat(3, 1fr), auto);
  grid-gap: 10px;
  margin-bottom: 2rem;
}

/*-----------------10.2. Footer Bottom----*/
.footer__bottom {
  @include flex-layout(row, center, center);
  padding: 2rem 0;

  & p {
    margin: 0;
  }
}

/*----------------------------11. Error 404 Page----*/
.error-404 {
  @include grid-cols-rows(1fr, auto);
  @include flex-layout(column, center, center);
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}