/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/

/*------------------------------------------Body----*/
.grid-index {
    @include grid-template(1fr, 60px calc(100vh - 60px) auto);
}

.grid-menu {
    @include grid-template(1fr, 60px 400px auto);
}

.grid-contact {
    @include grid-template(1fr, 60px 400px auto);
}

.grid-about {
    @include grid-template(1fr, 60px 400px auto);
}

.grid-booking {
    @include grid-template(1fr, 60px 400px auto);
}

.grid-loyalty {
    @include grid-template(1fr, 60px 400px auto);
}

/*-----------------------------------------Inner----*/
.inner-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.inner-md {
    @extend .inner-lg;
    max-width: 800px;
}

/*----------------------------------------Navbar----*/
.navbar {
    grid-column: 1fr;
    grid-row: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
}

.navbar-nav {
    @include flex-column-center;
    position: fixed;
    top: 0px;
    left: -300px;
    height: 100vh;
    width: 300px;
    z-index: 99;
    transition: transform 0.5s ease-in-out;
}

.nav-item {
    margin-bottom: 1rem;
    padding: 0.5rem;

    &:last-of-type {
        margin-bottom: 0;
        padding: 0;
    }
}

.nav-link {
    @extend .nav-item;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
}

.navbar-icons {
    display: flex;

    & li {
        margin-left: 1rem;
    }
}

/*-----------------------------------------------Home Page----*/

/*------------------------------------------Hero----*/
.hero {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 2rem;

    & p {
        margin-bottom: 2rem;
    }
}

/*-----------------------------------------Intro----*/
.intro {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 2rem;
}

.intro__text {
    display: flex;
    text-align: right;

    & p {
        margin: 0 0 2rem 0;
        padding: 0 1rem;
    }

    & p:last-of-type {
        text-align: left;
    }
}

/*-----------------------------------------Menu----*/
.menu {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 2rem;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

/*---------------------------------------Booking----*/
.booking {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 0;
    transition: all 0.5s;

    & h2 {
        margin-top: 1rem;
    }
}

/*--------------------------------------Features----*/
.features {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 2rem;
}

.features__top {
    @include grid-template(repeat(3, 1fr), auto);
    grid-gap: 0 1rem;
    margin-bottom: 4rem;
}

.features__top__left {
    grid-column: 1 / 2;
}

.features__top__right {
    grid-column: 2 / 4;
}

.features__middle {
    @extend .features__top;
    justify-content: flex-start;
}

.features__middle__left {
    grid-column: 1 / 3;
}

.features__middle__right {
    grid-column: 3 / 4;
}

.features__bottom {
    @extend .features__top;
    margin-bottom: 0;
}

.features__bottom__left {
    @extend .features__top__left;
}

.features__bottom__right {
    @extend .features__top__right;
}

.features-img {
    width: 100%;
    height: 100%;
}

/*---------------------------------------Gallery----*/
.gallery {
    grid-column: 1fr;
    grid-row: auto;
}

.gallery__grid {
    @include grid-template(repeat(5, 1fr), auto);
    grid-gap: 10px;
    margin: 0 10px;
}

.gallery__item {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover .gallery-img {
        filter: grayscale(100%);
    }

    &:hover .gallery-zoom {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover .gallery-caption {
        transform: translateX(-100%);
    }
}

.gallery__item::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.5s;
    z-index: -1;
}

.gallery-zoom {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
    border-radius: 5rem;
    background: black;
    opacity: 0;
    z-index: 1;
}

.gallery-caption {
    @include flex-column-center;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
    background: rgba(27, 27, 27, 0.692);
    color: $white;
}

/*----------------------------------------Thanks----*/
.thanks {
    grid-column: 1fr;
    grid-row: auto;
    @include flex-column-center;
    padding: 6rem 2rem;
}

.thanks__info {
    display: flex;
    align-items: center;
}

.thanks__img {
    width: 50%;
}

.thanks__text {
    width: 50%;
    text-align: left;
    padding-left: 2rem;
}

/*-----------------------------------------------Menu Page----*/

/*----------------------------------------Hero 2----*/
.hero--menu {
    @include flex-column-center;
}

/*----------------------------------------Menu----*/
.menu--white h2 {
    margin-top: 3rem;

    &:first-child {
        margin-top: 2rem;
    }
}

/*--------------------------------------------Contact Page----*/

/*----------------------------------------Contact Hero----*/
.hero--contact {
    @include flex-column-center;
}

/*----------------------------------------Contact Form----*/
.contact {
    padding: 6rem 2rem;
    text-align: center;
}

/*----------------------------------------Contact Info----*/
.contact-info {
    margin: 0 2rem 6rem 2rem;
}

.contact-info__grid {
    @include grid-template(repeat(12, 1fr), 550px);
    grid-gap: 2rem;
}

.contact-info__location {
    grid-column: span 8;
    display: flex;
}

.contact-address {
    width: 50%;
    @include flex-column-center;
    padding: 0 3rem;
}

.contact-map {
    width: 50%;
    height: 100%;
}

.contact-info__hours {
    grid-column: span 4;
    @include flex-column-center;
}

/*--------------------------------------------About Page----*/

/*----------------------------------------About Hero----*/
.hero-about {
    @include flex-column-center;
}

.about {
    padding: 6rem 2rem;
    text-align: center;
}

.team {
    grid-column: 1 / 2;
    grid-row: auto;
    padding: 6rem 0;
}

.team__header {
    text-align: center;
}

.owner-section {
    display: flex;
}

.team__grid__one {
    @include grid-template(repeat(2, 1fr), auto);
    margin-bottom: 2rem;
}

.team__grid__two {
    @include grid-template(repeat(4, 1fr), auto);
}

.about-video {
    margin: 0 2rem 6rem 2rem;
    text-align: center;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------Booking Page----*/

/*----------------------------------------Booking Hero----*/
.hero-booking {
    @include flex-column-center;
}

.book-container {
    margin: 6rem 2rem;
}

.book {
    padding: 6rem 4rem;
    transform: translateY(-200px);
    border: 4px solid $color6;
    background: $white;
}

/*--------------------------------------------Loyalty Card----*/
.card-hero {
    @include flex-column-center;
}

/*------------------------------------------Error 404 Page----*/
.error-404 {
    @include flex-column-center;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
}

/*----------------------------------------Footer----*/
footer {
    grid-column: 1fr;
    grid-row: auto;
}

.footer__grid {
    @include grid-template(repeat(4, 1fr), auto);
    grid-gap: 0 2rem;
    padding: 6rem 2rem;
}

.footer__grid__col1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer__grid__col2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.footer__grid__col3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.footer__grid__col4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.footer-icons {
    display: flex;
    margin-top: 2rem;

    & a {
        margin-right: 1rem;
    }
}

.twitter-container {
    margin-bottom: 2rem;
}

.instagram__grid {
    @include grid-template(repeat(3, 1fr), auto);
    grid-gap: 10px;
    margin-bottom: 2rem;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    & p {
        margin: 0;
    }
}
