/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/

/*------------------------------------------Body----*/
.grid-index {
  @include grid-index-template;
}

/*-----------------------------------------Inner----*/
.inner {
  max-width: 1200px;
  margin: 0 2rem;
}

.inner-md {
    max-width: 800px;
    margin: 10rem 2rem;
}

/*----------------------------------------Navbar----*/
.navbar {
  grid-column: 1fr;
  grid-row: 60px;
  grid-area: navbar;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
}

.navbar-nav {
  @include flex-column-center;
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100vh;
  width: 300px;
  z-index: 99;
  transition: transform 0.5s ease-in-out;
}

.nav-item {
  margin-bottom: 1rem;
  padding: 0.5rem;

  &:last-of-type {
    padding: 0;
  }
}

.nav-link {
  @extend .nav-item;
}

.navbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.navbar-icons {
  display: flex;

  & li {
    margin-left: 1rem;
  }
}

/*------------------------------------------Hero----*/
.hero {
  grid-column: 1fr;
  grid-row: calc(100vh - 60px);
  grid-area: hero;
  @include flex-column-center;
}

/*-----------------------------------------Intro----*/
.intro {
  grid-column: 1fr;
  grid-row: auto;
  grid-area: intro;
  @include flex-column-center;
}

.intro__text {
    display: flex;
    text-align: right;
    
    & p {
        padding: 0 2rem;
    }

    & p:last-of-type {
        text-align: left;
    }
}

/*-----------------------------------------Menu----*/
.menu {
  grid-column: 1fr;
  grid-row: auto;
  grid-area: menu;
  @include flex-column-center;

  height: 500px;
}