/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Screen Media Queries (Height)
    1.1. Max Height: 680px
        1.1.1. Quick Book
2. Screen Media Queries (Width)
    2.1. Min Width: 576px
        2.1.1. Thanks Section
    2.2. Min Width: 768px
        2.2.1. Thanks Section
    2.3. Min Width: 992px
    2.4. Min Width: 1200px
    2.5. Max Width: 1199px
    2.6. Max Width: 991px
        2.6.1. Features Section
        2.6.2. Contact Page
        2.6.3. Footer
    2.7. Max Width: 767px
        2.7.1. Thanks Section
        2.7.2. Menu Section
        2.7.3. Gallery Section
        2.7.4. Contact Page
        2.7.5. About Page
        2.7.6. Card
    2.8. Max Width: 575px
        2.8.1. Headings
        2.8.2. Intro Section
        2.8.3. Menu Section
        2.8.4. Features Section
        2.8.5. Contact Page
        2.8.6. About Page
        2.8.7. Booking Page
        2.8.8. Footer
        2.8.9. Form
3. Print Media Query 

*/

/*--------------1. Screen Media Queries (Height)----*/

/*---------------1.1. Max Height 680px----*/
@media screen and (max-height: 680px) {
    /*-------1.1.1. Quick Book----*/
    .quick-book {
        display: none;
    }
}

/*---------------2. Screen Media Queries (Width)----*/

/*---------------2.1. Min Width: 576px----*/
@media screen and (min-width: 576px) {
    /*--------2.1.1. Thanks Section----*/
    .thanks__img {
        padding: 0 5rem;
    }
}

/*---------------2.2. Min Width: 768px----*/
@media screen and (min-width: 768px) {
    /*--------2.2.1. Thanks Section----*/
    .thanks__img {
        padding: 0;
    }
}

// /*---------------2.3. Min Width: 992px----*/
// @media (min-width: 992px) {
// }

// /*--------------2.4. Min Width: 1200px----*/
// @media (min-width: 1200px) {
// }

// /*--------------2.5. Max Width: 1199px----*/
// @media (max-width: 1199px) {
// }

/*---------------2.6. Max Width: 991px----*/
@media screen and (max-width: 991px) {
    /*----2.6.1. Features Section----*/
    .features__top {
        grid-gap: 1rem 0;
    }

    .features__top__left {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .features__top__right {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .features__middle__left {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .features__middle__right {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .features__bottom__left {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .features__bottom__right {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    /*----------2.6.2. Contact Page----*/
    .contact-info__grid {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 550px 550px;
    }

    .contact-info__location {
        grid-column: span 12;
        grid-row: 1 / 2;
        display: flex;
    }

    .contact-info__hours {
        grid-column: 4 / 10;
        grid-row: 2 / 3;
    }

    /*----------------2.6.3. Footer----*/
    .footer__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 6rem;
    }

    .footer__grid__col1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer__grid__col2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer__grid__col3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer__grid__col4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

/*---------------2.7. Max Width: 767px----*/
@media screen and (max-width: 767px) {
    /*------2.7.1. Thanks Section----*/
    .thanks__info {
        display: flex;
        flex-direction: column;
    }

    .thanks__img {
        width: 100%;
    }

    .thanks__text {
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        padding-left: 0;

        & hr {
            margin-left: auto;
        }
    }

    /*----------2.7.2. Menu Section----*/
    .menu__list {
        padding: 0 4rem;
    }

    /*-------2.7.3. Gallery Section----*/
    .gallery__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /*----------2.7.4. Contact Page----*/
    .contact {
        padding: 6rem 1rem;
    }

    .contact-info {
        margin: 0 1rem 6rem 1rem;
    }

    .contact-info__grid {
        display: flex;
        flex-direction: column;
    }

    .contact-info__location {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-address {
        width: 100%;
        height: 300px;
        margin: 1rem 0 0 0;
    }

    .contact-map {
        width: 100%;
        height: 300px;
    }

    .contact-info__hours {
        padding: 1rem 1rem;
    }

    .opening-hours {
        padding: 2.5rem 3rem;
    }

    /*------------2.7.5. About Page----*/
    .about-video {
        margin: 0 1rem 6rem 1rem;
    }

    /*------------------2.7.6. Card----*/
    .card {
        min-width: 100%;
        max-width: 100%;
    }
}

/*---------------2.8. Max Width: 575px----*/
@media screen and (max-width: 575px) {
    /*---------2.8.1. Headings----*/
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    /*----2.8.2. Intro Section----*/
    .intro__text {
        display: block;
        text-align: justify;

        & p {
            padding: 0;
        }

        & p:last-of-type {
            text-align: justify;
        }
    }

    /*-----2.8.3. Menu Section----*/
    .menu {
        padding: 6rem 1rem;
    }

    .menu__list {
        padding: 0;
    }

    /*-2.8.4. Features Section----*/
    .features {
        padding: 6rem 1rem;
    }

    /*-2.8.5. Contact Page--------*/
    .contact-info {
        margin: 0 0 6rem 0;
    }

    .opening-hours {
        padding: 2.5rem 1rem;
    }

    /*-------2.8.6. About Page----*/
    .team__grid__one {
        @include grid-template(1fr, auto);
        margin-bottom: 2rem;
    }

    .team__grid__two {
        @include grid-template(repeat(2, 1fr), auto);
    }

    /*-----2.8.7. Booking Page----*/
    .booking {
        margin: 6rem 1rem;
    }

    .booking-form {
        padding: 6rem 1rem;
    }

    /*-----------2.8.8. Footer----*/
    .footer__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .footer__grid__col1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer__grid__col2 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer__grid__col3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .footer__grid__col4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    /*-------------2.8.9. Form----*/
    .input-flex {
        display: flex;
        flex-direction: column;
    }

    .form-input {
        width: 100%;
    }

    /*--------2.8.10. Quick Book----*/
    .quick-book {
        display: none;
    }
}

/*-------------------------3. Print Media Query ----*/
@media print {
    * {
        color: $color1;
        background: white;
    }

    [data-aos] {
        display: block !important;
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }

    p {
        text-align: left;
    }

    .features__top,
    .features__middle,
    .features__bottom {
        @include grid-template(1fr, auto);
        grid-gap: 0;
    }

    .contact-info__grid {
        display: flex;
        flex-direction: row;
    }

    .contact-info__location,
    .contact-info__hours {
        width: 50%;
    }

    .contact-map {
        display: none;
    }

    .team__grid__two {
        display: flex;
    }

    .gallery__item::before {
        display: none;
    }

    .gallery-caption {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
        height: 20rem;
    }

    .gallery,
    .menu-hero,
    .contact-hero,
    .contact,
    .about-hero,
    .about-video,
    .booking-hero,
    .quick-book,
    nav,
    footer,
    img,
    a,
    hr,
    .btn {
        display: none;
    }
}
