/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/

/*------------------------------------------Grid----*/
@mixin grid-template($temp-cols, $temp-rows) {
    display: grid;
    grid-template-columns: $temp-cols;
    grid-template-rows: $temp-rows;
}

/*------------------------------------------Flex----*/
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------------------Misc----*/
@mixin page-hero($bg-image) {
    background: $bg-image;
    background-size: cover;
    text-shadow: 6px 2px 2px black;
    color: $white;
}
