@font-face {
    src: url(../../fonts/Karla-Regular.ttf);
    font-family: karla;
}

@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/

/*-------------------------------------Universal----*/
* {
    box-sizing: border-box;
}

/*------------------------------------------HTML----*/

/*------------------------------------------Body----*/
body {
    font-family: karla;
    font-size: 16px;
    background-color: $color1;
}

/*------------------------------------Navigation----*/
.navbar-nav {
    background: $white;
}

/*------------------------------------------Hero----*/
.hero {
    color: $white;
}
