@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------




*/

/*-------------------------------------Universal----*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*------------------------------------------HTML----*/

/*------------------------------------------Body----*/
body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    color: $color1;
    background-color: $white;
}

/*------------------------------------Navigation----*/
.navbar {
    background: $color1;
}

.navbar-nav {
    background: $white;
}

/*------------------------------------------Hero----*/
.hero {
    box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
    background: $color1;
    color: $white;
}

/*------------------------------------------Menu----*/
.hero--menu {
    @include page-hero(url(/images/coffee3.jpg) center no-repeat);
}

.menu {
    box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
    background: $color4;
}

.menu--white {
    background: $white;
}

/*---------------------------------------Booking----*/
.hero-booking {
    @include page-hero(url(/images/barrista2.jpg) center no-repeat);
}

.booking {
    border: 1rem solid $white;
    background: $color1;
    background: url(/images/bg-dark.png);
    color: $white;

    &:hover {
        border: 1rem solid $color6;
        color: $color6;
    }
}

/*---------------------------------------Contact----*/
.hero--contact {
    @include page-hero(url(/images/cafe.jpg) center no-repeat);
}

.contact-address {
    background: darkcyan;
}

.contact-info__hours {
    background: url(/images/bg-dark.png);
    color: $white;
}

/*-----------------------------------------About----*/
.hero-about {
    @include page-hero(url(/images/cafe2.jpg) center no-repeat);
}

.about {
    background: $color4;
}

/*----------------------------------Loyalty Card----*/
.card-hero {
    @include page-hero(url(/images/cafe2.jpg) center no-repeat);
}

/*-------------------------------------Error 404----*/
.error-404 {
    background: url(/images/bg-dark.png);
    color: $white;
}

/*----------------------------------------Footer----*/
footer {
    background: url(/images/bg-dark.png);
    color: $white;
}

.footer__bottom {
    background: rgba(0, 0, 0, 0.603);

    & span {
        color: $color6;
    }
}

/*------------------------------------------Blog----*/
.blog-date {
    color: $color6;
}
