@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

1. Universal
2. Body
3. Navigation
4. Home Page
  4.1. Home Hero
  4.2. Home Menu
  4.3. Booking Banner
  4.4. Gallery
5. Menu Page
6. Contact Page
  6.1. Contact Hero
  6.2. Contact Info
7. About Page
  7.1. About Hero
  7.2. About
8. Booking Page
  8.1. Booking Hero
  8.2. Booking Form
9. Loyalty Card Page
10. Footer
  10.1. Footer Bottom
11. Error 404 Page

*/

/*----------------------------------1. Universal----*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*---------------------------------------2. Body----*/
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: $color1;
  background-color: white;
}

/*---------------------------------3. Navigation----*/
.navbar {
  background: $color1;
}

.navbar-nav {
  background: white;
}

/*----------------------------------4. Home Page----*/

/*----------------------4.1. Home Hero----*/
.home-hero {
  box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
  background: $color1;
  color: white;
}

/*----------------------4.2. Home Menu----*/
.home-menu {
  box-shadow: 0px 0px 35px 11px rgba(0, 0, 0, 0.88);
  background: $color4;
}

/*-----------------4.3. Booking Banner----*/
.booking-banner {
  border: 1rem solid white;
  background: $color1;
  background: url(/images/bg-dark.png);
  color: white;

  &:hover {
    border: 1rem solid $color6;
    color: $color6;
  }
}

/*------------------------4.4. Gallery----*/
.gallery-zoom {
  background: black;
}

.gallery-caption {
  background: rgba(27, 27, 27, 0.692);
  color: white;
}

/*----------------------------------5. Menu Page----*/
.menu-hero {
  @include page-hero(url(/images/cafe/coffee3.jpg) center no-repeat);
}

/*-------------------------------6. Contact Page----*/

/*-------------------6.1. Contact Hero----*/
.contact-hero {
  @include page-hero(url(/images/cafe/cafe.jpg) center no-repeat);
}

/*-------------------6.2. Contact Info----*/
.contact-address {
  background: $color4;
}

.contact-info__hours {
  background: url(/images/bg-dark.png);
  color: white;
}

/*--------------------------------------7. About----*/

/*---------------------7.1. About Hero----*/
.about-hero {
  @include page-hero(url(/images/cafe/cafe2.jpg) center no-repeat);
}

/*--------------------------7.2. About----*/
.about {
  background: $color4;
}

/*-------------------------------8. Booking Page----*/

/*-------------------8.1. Booking Hero----*/
.booking-hero {
  @include page-hero(url(/images/cafe/barrista2.jpg) center no-repeat);
}

/*-------------------8.2. Booking Form----*/
.booking-form {
  border: 4px solid $color6;
  background: white;
}

/*--------------------------9. Loyalty Card Page----*/
.loyalty-hero {
  @include page-hero(url(/images/cafe/cafe2.jpg) center no-repeat);
}

.loyalty-banner{
  background: $color4;
}

/*------------------------------------10. Footer----*/
footer {
  background: url(/images/bg-dark.png);
  color: white;
}

/*-----------------10.1. Footer Bottom----*/
.footer__bottom {
  background: rgba(0, 0, 0, 0.603);

  & span {
    color: $color6;
  }
}

/*----------------------------11. Error 404 Page----*/
.error-404 {
  background: url(/images/bg-dark.png);
  color: white;
}
